<header class="header">
    <div class="container clearfix">
        <img class="profile-image img-fluid float-left" src="/assets/images/profile.png" alt="Wout Schoovaerts"/>
        <div class="profile-content float-left">
            <h1 class="name">Wout Schoovaerts</h1>
            <h2 class="desc">Full stack Developer</h2>
            <h3 class="sub-desc">A passion for coding. Loving both front-end and back-end!</h3>
            <ul class="social list-inline">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/wout-schoovaerts-04578182/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/zwaldeck" target="_blank"><i class="fab fa-github-alt"></i></a></li>
                <li class="list-inline-item last-item"><a href="https://medium.com/@schoovaertswout" target="_blank"><i class="fab fa-medium-m"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary float-right" href="https://themes.3rdwavemedia.com/" target="_blank">
            <i class="fas fa-paper-plane"></i> Contact Me
        </a>
    </div>
</header>